@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 255 100% 10%;
    --card: 255 10% 97%;
    --card-foreground: 255 100% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 255 100% 10%;
    --primary: 255 0% 0%;
    --primary-foreground: 255 0% 100%;
    --secondary: 255 40% 96.1%;
    --secondary-foreground: 240 1% 39%;
    --tertiary: 210 40% 98%;
    --tertiary-foreground: 215 20% 65%;
    --primary-alt: 195 100% 55%;
    --primary-alt-foreground: 195 65% 23%;
    --muted: 255 40% 96.1%;
    --muted-foreground: 255 10% 46.9%;
    --accent: 255 40% 96.1%;
    --accent-foreground: 255 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 255 40% 98%;
    --border: 255 31.8% 91.4%;
    --input: 255 31.8% 91.4%;
    --ring: 255 100% 68%;
    --radius: 0.5rem;
    --fa-primary-color: hsl(255 0% 0%);
    --fa-secondary-color: hsl(255 0% 40%);
    --fa-primary-opacity: 1;
    --fa-secondary-opacity: 1;
  }

  .dark {
    --background: 195 5% 15%;
    --foreground: 255 40% 98%;
    --card: 200 2% 25%;
    --card-foreground: 255 40% 98%;
    --popover: 200 2% 25%;
    --popover-foreground: 255 40% 98%;
    --primary: 255 0% 100%;
    --primary-foreground: 255 0% 0%;
    --secondary: 195 5% 20%;
    --secondary-foreground: 240 2% 52%;
    --tertiary: 229 84% 5%;
    --tertiary-foreground: 217 33% 57%;
    --primary-alt: 195 100% 55%;
    --primary-alt-foreground: 195 65% 23%;
    --muted: 220 3% 25%;
    --muted-foreground: 240 3% 40%;
    --accent: 210 1% 28%;
    --accent-foreground: 255 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 255 40% 98%;
    --border: 210 1% 33%;
    --input: 255 32.6% 17.5%;
    --ring: 255 76.3% 48%;
    --fa-primary-color: hsl(255 0% 100%);
    --fa-secondary-color: hsl(255 0% 80%);
    --fa-primary-opacity: 1;
    --fa-secondary-opacity: 1;
  }
}

.dark .prose code {
  color: hsl(255 0% 80%);
}
.dark .prose .notion-divider {
  border-color: hsl(255 32.6% 17.5%);
}
.dark .prose tbody tr {
  border-bottom-color: hsla(255 32.6% 17.5% / 50%);
}
.dark .prose a {
  color: hsl(255 0% 100%);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    @apply bg-background text-foreground min-h-screen;
  }
}

@layer utilities {
  .fa-light {
    --fa-primary-color: hsl(255 100% 100%);
    --fa-secondary-color: hsl(195 100% 100%);
    --fa-primary-opacity: 1;
    --fa-secondary-opacity: 0.4;
  }

  .fa-dark {
    --fa-primary-color: hsl(255 50% 5%);
    --fa-secondary-color: hsl(255 50% 5%);
    --fa-primary-opacity: 1;
    --fa-secondary-opacity: 0.4;
  }

  .fa-default {
    --fa-primary-color: hsl(255 0% 0%);
    --fa-secondary-color: hsl(255 0% 40%);
    --fa-primary-opacity: 1;
    --fa-secondary-opacity: 1;
  }
  .dark.fa-default {
    --fa-primary-color: hsl(255 0% 100%);
    --fa-secondary-color: hsl(255 0% 80%);
    --fa-primary-opacity: 1;
    --fa-secondary-opacity: 1;
  }
}

@layer components {
  .shrink-top {
    transform-origin: center top;
    @apply rounded-lg overflow-hidden scale-[0.954] translate-y-[calc(env(safe-area-inset-top)+10%)];
  }
  .shrink-bottom {
    transform-origin: center bottom;
    @apply rounded-lg overflow-hidden scale-[0.954] -translate-y-[calc(env(safe-area-inset-top)+10%)];
  }
  .shrink-right {
    transform-origin: right center;
    @apply rounded-lg overflow-hidden scale-[0.954] -translate-x-[10%];
  }
  .shrink-left {
    transform-origin: left center;
    @apply rounded-lg overflow-hidden scale-[0.954] translate-x-[10%];
  }
}

.filter-blur {
  backdrop-filter: saturate(150%) blur(20px);
}

.cl-userButtonAvatarBox {
  width: 16px !important;
  height: 16px !important;
}

/* @keyframe lights-on {
  0% { opacity: 0; clip-path: inset(5%); transform: scale(111.11%) }
  100% { opacity: 1; clip-path: inset(0); transform: scale(1) }
}

@keyframe ken-burns {
  0% { opacity: 0; filter: brightness(1) blur(20px) }
  10% { opacity: 1; filter: brightness(2) blur(10px) }
  100% { opacity: 1; filter: brightness(1) blur(0) }
}

@keyframe mask {
  0% {
    mask: linear-gradient(90deg, #000 25%, #000000e6 50%, #00000000) 150% 0 /
      400% no-repeat;
    opacity: 0.2;
  }
  100% {
    mask: linear-gradient(90deg, #000 25%, #000000e6 50%, #00000000) 0 / 400%
      no-repeat;
    opacity: 1;
  }
} */
