@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 255 100% 10%;
    --card: 255 10% 97%;
    --card-foreground: 255 100% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 255 100% 10%;
    --primary: 255 100% 68%;
    --primary-foreground: 255 40% 98%;
    --secondary: 255 40% 96.1%;
    --secondary-foreground: 255 47.4% 11.2%;
    --tertiary: 195 100% 55%;
    --tertiary-foreground: 195 65% 23%;
    --muted: 255 40% 96.1%;
    --muted-foreground: 255 10% 46.9%;
    --accent: 255 40% 96.1%;
    --accent-foreground: 255 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 255 40% 98%;
    --border: 255 31.8% 91.4%;
    --input: 255 31.8% 91.4%;
    --ring: 255 100% 68%;
    --radius: 0.5rem;
    --fa-primary-color: hsl(255 100% 68%);
    --fa-secondary-color: hsl(195 100% 55%);
    --fa-primary-opacity: 1;
    --fa-secondary-opacity: 1;
  }

  .dark {
    --background: 255 50% 5%;
    --foreground: 255 40% 98%;
    --card: 255 60% 13%;
    --card-foreground: 255 40% 98%;
    --popover: 255 50% 5%;
    --popover-foreground: 255 40% 98%;
    --primary: 255 100% 68%;
    --primary-foreground: 255 47.4% 11.2%;
    --secondary: 255 32.6% 17.5%;
    --secondary-foreground: 255 40% 98%;
    --tertiary: 195 100% 55%;
    --tertiary-foreground: 195 65% 23%;
    --muted: 255 32.6% 17.5%;
    --muted-foreground: 255 10% 65.1%;
    --accent: 255 32.6% 17.5%;
    --accent-foreground: 255 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 255 40% 98%;
    --border: 255 32.6% 17.5%;
    --input: 255 32.6% 17.5%;
    --ring: 255 76.3% 48%;
    --fa-primary-color: hsl(255 70% 65%);
    --fa-secondary-color: hsl(195 70% 65%);
    --fa-primary-opacity: 1;
    --fa-secondary-opacity: 1;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground min-h-screen;
  }
}

@layer utilities {
  .fa-light {
    --fa-primary-color: hsl(255 100% 100%);
    --fa-secondary-color: hsl(195 100% 100%);
    --fa-primary-opacity: 1;
    --fa-secondary-opacity: 0.4;
  }

  .fa-dark {
    --fa-primary-color: hsl(255 50% 5%);
    --fa-secondary-color: hsl(255 50% 5%);
    --fa-primary-opacity: 1;
    --fa-secondary-opacity: 0.4;
  }

  .fa-default {
    --fa-primary-color: hsl(255 100% 68%);
    --fa-secondary-color: hsl(195 100% 55%);
    --fa-primary-opacity: 1;
    --fa-secondary-opacity: 1;
  }
  .dark.fa-default {
    --fa-primary-color: hsl(255 70% 65%);
    --fa-secondary-color: hsl(195 70% 65%);
    --fa-primary-opacity: 1;
    --fa-secondary-opacity: 1;
  }
}

@layer components {
  .shrink-top {
    transform-origin: center top;
    @apply rounded-lg overflow-hidden scale-[0.954] translate-y-[calc(env(safe-area-inset-top)+14px)];
  }
  .shrink-bottom {
    transform-origin: center bottom;
    @apply rounded-lg overflow-hidden scale-[0.954] -translate-y-[calc(env(safe-area-inset-top)+14px)];
  }
  .shrink-right {
    transform-origin: right center;
    @apply rounded-lg overflow-hidden scale-[0.954] -translate-x-8;
  }
  .shrink-left {
    transform-origin: left center;
    @apply rounded-lg overflow-hidden scale-[0.954] translate-x-8;
  }
}

.filter-blur {
  backdrop-filter: saturate(150%) blur(20px);
}
